* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;

}

a {
    text-decoration: none;
}

body {
    background: url("../img/Rectangle 6.png") no-repeat center/cover;
}

.work {
    padding-top: 30px;
}

.work a {
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 33px;
}

.btn {
    width: 75px;
    height: 75px;
    background: #FF6F00;
    border: 1px solid #FF6F00;
    box-shadow: 1px 1px 15px #FF6F00;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.btn:hover{
    transform: scale(120%);
}

.btn2 {
    width: 75px;
    height: 75px;
    background: #FF6F00;
    border: 1px solid #FF6F00;
    box-shadow: 1px 1px 15px #FF6F00;
    border-radius: 50%;
    transform: rotate(180deg);
    justify-content: center;
    align-items: center;
    display: flex;
}

.button {
    width: 300px;
    display: flex;
    margin: 90px 0 0 0;
    justify-content: space-between;
}

.block {
    width: 561px;
    height: 768px;
    background: rgba(0, 0, 0, 0.51);
    border: 1px solid #000000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.coffee {
    justify-content: space-between;
    display: flex;
    margin: 50px 0 0 0;
}

.block h1 {
    width: 80%;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
}

.input h4 {
    font-size: 18px;
    color: #FFFFFF;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
}

.input input {
    flewidth: 427px;
    height: 80px;
    background: rgba(255, 255, 255, 0.26);
    border: 2px solid #CCAA90;
    box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.26), -10px -10px 24px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    font-size: 30px;
    color: #FFFFFF;
}

.input2 {
    width: 427px;
    height: 94px;
    background: #FF903C;
    border: 2px solid #CCAA90;
    box-shadow: 10px 10px 18px rgba(255, 255, 255, 0.26), -10px -10px 24px rgba(255, 255, 255, 0.26);
    border-radius: 20px;
}

.input2 h2 {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}

.circle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 400px;
}

.circle div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #FF6F00;
}

.circle div:nth-child(2) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FF6F00;
}

.tittle h3 {
    color: white;
    width: 314px;
    height: 42px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
}
